smart_integrations_reports.json
{
  "name": "smart_integrations_reports",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "arquivo",
              "value": "={{ $input.item.binary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5dac53ad-9ea3-4059-a7d6-c1f405a00771",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -432,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $input.item.binary }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6a2bb14c-b01a-4842-add5-b4b4ff7f838e",
      "name": "Validar Dados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        -80
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@sistema-fiscal.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "Relatório de Análise Fiscal - NFe",
        "options": {}
      },
      "id": "9c305db8-6588-46b8-b610-ee4251918cd9",
      "name": "Enviar Relatório por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        48,
        -240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Processado com sucesso\" }) }}",
        "options": {}
      },
      "id": "04d82672-01b9-42ff-b33c-d753e494bdff",
      "name": "Resposta - Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        -240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: \"Dados inválidos\" }) }}",
        "options": {}
      },
      "id": "f2368f9e-4e3d-4c46-998d-80384a0509a7",
      "name": "Resposta - Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        48,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report-agent-webhook",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "b89564fd-d78a-4efd-abbf-7de6a4046e1a",
      "name": "report-agent-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ],
      "webhookId": "nfe-agent-webhook-webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Validar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Dados": {
      "main": [
        [
          {
            "node": "Enviar Relatório por Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta - Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Relatório por Email": {
      "main": [
        [
          {
            "node": "Resposta - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report-agent-webhook": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bf2b3c3-5838-49bd-b6f6-8a7c0e73b0d1",
  "meta": {
    "instanceId": "231b4fcf052db07b90cec772d2e46c08568f8721ea038399e11d196703eb0290"
  },
  "id": "F99fJJVC5I3czzJ5",
  "tags": []
}